
@font-face {
    font-family: "NunitoSans-Regular";
    src: url(../fonts/NunitoSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "NunitoSans-Regular";
    src: url(../fonts/NunitoSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url(../fonts/NunitoSans-Bold.woff);
    font-weight: normal;
    font-style: normal;
    font-display: block;
}